body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(0, 3, 41);
    font-family: 'Roboto', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color:rgb(4, 6, 29) ;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    margin-left: 50px;
}

a{
    color: white;
    text-decoration-line: none;
}
a:hover{
    color: rgb(93, 89, 167);
}
.left{
    font-size: 1.8rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
}
.firstSection >div{
    width: 40%;
}
.leftSection{
    font-size: 2.5rem;
    margin-left: 20px;
}
.rightSection img{
    width: 100%;
    padding: 0;
}
#element {
    color: #712be2;
}

.section-line{
    background-color: #0425bb;
    height: 2px;
    margin: 50px 65px;
}
.secondSection{
    margin-left: 65px;
}
.second-sec-text{
    color: gray;
}
.second-main-text{
    margin-top: 10px;
    font-size: 2rem;
}


@media screen and (max-width: 1100px) {
  body{
    /* background-color: aqua; */
  }
  .firstSection{
    flex-direction: column;
  }
}